body {
    background: #242424;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 26px;
    margin: auto;
    width: 80%;
}
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar .direita {
    font-size: 28px;
}
.navbar .esquerda ul {
    display: flex;
    list-style: none;
}
.navbar .esquerda ul li {
    margin-left: 25px;
    font-size: 24px;
}
/* HERO SECTION */
h1 {
    font-size: 70px;
    margin-bottom: 0;
}
h2 {
    font-size: 30px;
    margin-top: 10px;
}
.Hero {
    text-align: center;
    padding: 100px 0;
}
/* SOBRE */
h3 {
    font-size: 34px;
}
.sobre, .interesses, .habilidades, .conteudo {
    padding: 0 0 30px 0;
}
/* SKILLS */
.skills {
    margin-top: 40px;
}
.skills ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.skills ul li {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.iconSkill {
    font-size: 65px;
    margin-bottom: 13px;
}
/* PROJETOS */
.projeto, .links {
    display: flex;
}
.site-topo {
    background: #FBF8F3;
    border-radius: 10px 10px 0 0;
    display: flex;
    padding: 8px 1px;
    width: 100%;
}
.circulo-vermelho {
    background: #FF4340;
    margin: 0 10px;
}
.circulo-amarelo {
    background: #FABA1A;
}
.circulo-verde {
    background: #1AC131;
}
.circulo-vermelho, .circulo-amarelo, .circulo-verde {
    border-radius: 30px;
    margin-right: 5px;
    padding: 6px;
    width: 0px;
}
.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 0;
    width: 40%;
}
.img img {
    background: #FBF8F3;
    padding: 1px;
    width: 100%;
    height: auto;
}
.conteudo {
    width: 60%;
}
.links a {
    margin-right: 12px;
}
/* CONTATO */
.contato {
    padding-bottom: 40px;
}
.contato .esquerda, .contato .direita {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contato p {
    margin: 0;
}
.contato .esquerda ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
.contato .esquerda ul li {
    margin-bottom: 10px;
}
.iconContato {
    margin-right: 10px;
}
a {
    color: #1a73e8;
    text-decoration: none;
}

/* DIA */
.day {
    background: #F0FFFF;
    color: #000;
}